.navigation {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 25px;
}

.navigation__link {
    color: #000;
    width: 50px;
    font-style: italic;
    padding: 20px;
    text-decoration: none;
}